* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: black;
}

main{
    margin-left: 175px; /* 117px */
}

.nav {
    text-decoration: none;
    /* padding-top: 60px 40 67 62;
    padding-left: 40px; */
    padding: 40px 67px 0px 40px ;
    display: flex;
    color: #FAFAF9;
    justify-content: space-between;
    
}
.logo {
    
}
.logo-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.list {
    display: flex;
    flex-direction: row;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    
    
}
.element {
    margin-left: 20px;
}
.Title {
    z-index: -3;
    animation: start 1s linear;
    color: #FAFAF9;
    font-family: 'Geologica';
font-style: normal;
font-weight: 800;
font-size: 150px;
line-height: 150px;
/* or 99% */

letter-spacing: -3px;
text-transform: uppercase;
margin-top: 110px;



}

.info{
    color: #EFEDE8A6;
    margin-top: 36px;
    animation: start 2s linear;


}
.box{
    border: 3px solid transparent;
    position: relative;
}
.people{
    animation: people 2s linear;
    z-index: 3;
    position: absolute;
    right: 350px;
    top: 180px;
    width: 320px;

}
.g77 {
    position: absolute;
    left: 900px;
top: 130px;


}
.g24 {
    position: absolute;
    left: 525px;
top: 475px;
}
.g76 {
    position: absolute;
    left: 940px;
top: 550px;
}

.g24 , .g76 , .g77 {
    animation: g 3s linear;

}

.text{
    
    margin-top: 40px;


font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

letter-spacing: 1px;

/* Text 2 */

color: rgba(239, 237, 232, 0.65);


}

button{
    animation: start 2s linear;
    margin-top: 50px;
    width: 200px;
height: 70px;
left: 117px;
top: 743px;

background: #E6533C;
border-radius: 10px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height, or 122% */

letter-spacing: 1px;

color: #FFFFFF;
}
button:hover{
    cursor: pointer;
    background-color: #ff6048;
}
button:active{
    transform: scale(0.95);
}
.g30{
    margin-top: 33px;
    width: 500px;
}

@keyframes start {
    0%{
        opacity: 0;
        transform: translate(-400px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}

@keyframes people {
    0%{
        opacity: 0;
        transform: translate(-400px);
    }
    50%{
        opacity: 0;
        transform: translate(-400px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}

@keyframes g {
    0%{
        opacity: 0;
        transform: translate(-400px);
    }
    75%{
        opacity: 0;
        transform: translate(-400px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}